* text=auto eol=lf
*.cs text diff=csharp
*.shader text
*.hlsl text
*.cginc text
*.unity text merge=unityyamlmerge
*.prefab text merge=unityyamlmerge
*.asset text merge=unityyamlmerge
*.mat text merge=unityyamlmerge
*.anim text merge=unityyamlmerge
*.controller text merge=unityyamlmerge
*.meta text merge=unityyamlmerge
*.png binary
*.jpg binary
*.jpeg binary
*.psd binary
*.fbx binary
*.blend binary
*.wav binary
*.mp3 binary
*.ogg binary
*.mp4 binary
